<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>929297720815-89vajsnq0hs5q0q4jrks2g6k1m7aj4ir.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.929297720815-89vajsnq0hs5q0q4jrks2g6k1m7aj4ir</string>
    <key>API_KEY</key>
    <string>AIzaSyCufdVi5AXtKERZlATH_A5i_1IuuJ9TA6Q</string>
    <key>GCM_SENDER_ID</key>
    <string>929297720815</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>br.com.vineivel.petsnarua.Main</string>
    <key>PROJECT_ID</key>
    <string>petsnarua-dev</string>
    <key>STORAGE_BUCKET</key>
    <string>petsnarua-dev.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:929297720815:ios:88a95590ed60168af5821a</string>
    <key>DATABASE_URL</key>
    <string>https://petsnarua-dev.firebaseio.com</string>
</dict>
</plist>
